<nb-card size="medium">
  <div class="picture" style.background-image="url('{{documento.cover}}')"></div>

  <div class="details">
    <div class="h4">
      {{ documento.name }} <small>( {{  documento?.category[0]?.name  }} )</small> |
      <span>{{ documento.price === '0.00' ? 'Grátis' :  documento.price + ' $' }} </span>
    </div>
    <div class="description">{{ documento.description }}</div>
  </div>

  <nb-card-footer>
    <nb-actions size="medium" fullWidth>
      <nb-action icon="trash-outline" (click)="operation('delete')"></nb-action>
      <nb-action icon="eye-outline" (click)="operation('view')"></nb-action>
      <nb-action icon="edit-outline" (click)="operation('edit')"></nb-action>
    </nb-actions>
  </nb-card-footer>
</nb-card>
